%table{ :class => "scorecard" }
  %thead
    %tr
      %td
        Hole
      %td
        = @name
  %tbody
    - @scores.each do |hole, score|
      %tr
        %td
          = hole
        %td
          %a{"data-transition" => "slide", :href => "/hole/#{hole}/score"}
            = score
  %tfood
    %tr
      %td
        Total
      %td
        = @total